main {
  width: 100%;
}

.check-order-box {
  width: 1400px;
  margin: 0 auto;
}

.order-id-input-box {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .example-form-field {
    width: 200px;
  }
}

.btn-get-by-id {
  margin: 0 0 0 20px;
  padding: 10px 20px;
  background: #ffbf0f;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr, .green-row {
  background-color: #ffbf0f;
  color: black;
  text-align: left;
  font-size: 16px;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ffbf0f;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #ffbf0f;
}

.info-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-bold {
  font-weight: bold;
}
